<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="changeCorrectionProposalUsageHack" name="changeCorrectionProposalUsageHack Extension" schema="schema/changeCorrectionProposalUsageHack.exsd"/>
   <extension-point id="correctionProposalPopupUsageHack" name="correctionProposalPopupUsageHack Extension" schema="schema/correctionProposalPopupUsageHack.exsd"/>

</plugin>
